$width: 9em;
$padding: .3em;
$font-size: 1em;

div.livetile {
    width: $width + 2 * $padding;
    height: $width / 2;
    padding: $padding;
    box-sizing: border-box;
    position: relative;

    .lt-text {
        font-size: $font-size;
        height: auto;
    }
    .lt-text-transition {
        max-height: 0;
        opacity: 0;
        overflow: hidden;
        transition: max-height 0.4s ease 0s;
    }
    .lt-title {
        position: absolute;
        bottom: $padding;
        font-size: $font-size * 1.1;
    }
}
