div.livetile {
  width: 9.6em;
  height: 4.5em;
  padding: 0.3em;
  box-sizing: border-box;
  position: relative; }
  div.livetile .lt-text {
    font-size: 1em;
    height: auto; }
  div.livetile .lt-text-transition {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.4s ease 0s; }
  div.livetile .lt-title {
    position: absolute;
    bottom: 0.3em;
    font-size: 1.1em; }
