div.livetile {
  width: 9.6em;
  height: 4.5em;
  padding: 0.3em;
  box-sizing: border-box;
  position: relative; }
  div.livetile .lt-text {
    font-size: 1em;
    height: auto;
    overflow: hidden; }
  div.livetile .lt-title {
    position: absolute;
    bottom: 0.3em;
    font-size: 1.1em; }
